@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Roboto);

#help_guide {
    position: absolute;
    top: -20px;
    right: 42%;
    width: 250px;

    height: inherit;
    float: right;
    font-family: 'Lato', sans-serif;
    background-color: rgba(254,254,254,0.6);
    padding-left: 10px;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: solid #f5f5f5 2px;
}

div#top {
    min-width: 900px;
    background: #f0f9ff;
    background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #d1eeff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#d1eeff));
    background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#d1eeff 100%);
    background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#d1eeff 100%);
    background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#d1eeff 100%);
    background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#d1eeff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#d1eeff',GradientType=0 );

    height: 70px;
    line-height: 70px;
    border-bottom: solid 2px #7dc6ff;
    padding: 12px;
    font-family: 'Roboto', sans-serif;


}

p#user_name {
    float: left;
    width: 210px;
}

p#logo_name {
    height: inherit;
    color: #619cff;
    font-size: 45px;
    vertical-align: middle;
    float: left;
}

#top #user {
    margin: auto 0px;
    height: inherit;
    width: 300px;
    float: right;
    font-family: 'Lato', sans-serif;
    background-color: rgba(254,254,254,0.6);
    padding-left: 10px;

    border-radius: 8px;
    border: solid #f5f5f5 2px;
}


#user a {
    -moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
    box-shadow:inset 0px 0px 0px 0px #ffffff;
    background-color:#ededed;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#0099ff;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:40px;
    width:80px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
}
#user a:hover {
    background-color:#e6e6e6;
}

#user a:active {
    position:relative;
    top:1px;
}


body, html{
    width: 100%;
    height: 100%;
    background: #feffff;
    background: -moz-radial-gradient(center, ellipse cover,  #feffff 0%, #ddf1f9 45%, #dae2e5 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#feffff), color-stop(45%,#ddf1f9), color-stop(100%,#dae2e5));
    background: -webkit-radial-gradient(center, ellipse cover,  #feffff 0%,#ddf1f9 45%,#dae2e5 100%);
    background: -o-radial-gradient(center, ellipse cover,  #feffff 0%,#ddf1f9 45%,#dae2e5 100%);
    background: -ms-radial-gradient(center, ellipse cover,  #feffff 0%,#ddf1f9 45%,#dae2e5 100%);
    background: radial-gradient(ellipse at center,  #feffff 0%,#ddf1f9 45%,#dae2e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#dae2e5',GradientType=1 );


}

